AIRFLOW_CONN_POSTGRES_PLAYROOM_DIET=postgresql://<supabase_connection_string>?sslmode=require
AIRFLOW_CONN_PYDANTICAI_DEFAULT='{"conn_type": "pydanticai", "password": "<gemini_api_key>", "extra": {"model": "google-gla:gemini-3.1-flash-lite"}}'
SUPABASE_PROJECT_URL=https://<supabase_project_url>
SUPABASE_SECRET_KEY=<supabase_secret_key>
